<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net472" />
  <package id="Dapplo.HttpExtensions" version="0.8.34" targetFramework="net472" />
  <package id="Dapplo.HttpExtensions.JsonNet" version="0.8.34" targetFramework="net472" />
  <package id="Dapplo.HttpExtensions.OAuth" version="0.8.34" targetFramework="net472" />
  <package id="Dapplo.Jira" version="0.7.10" targetFramework="net472" />
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net472" />
  <package id="Dapplo.Windows" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.Common" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.DesktopWindowsManager" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.Dpi" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.Gdi32" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.Input" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.Kernel32" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.Messages" version="0.5.54" targetFramework="net472" />
  <package id="Dapplo.Windows.User32" version="0.5.54" targetFramework="net472" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.11" targetFramework="net472" />
  <package id="MailKit" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net472" />
  <package id="MimeKit" version="2.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.3.1" targetFramework="net472" />
  <package id="Svg" version="2.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>